md-toolbar.md-padding.lightBlue(layout='row' layout-align='start end')
  div
    h2 GRUPOS
    
    div  
      creator
        
md-progress-circular(ng-show='fetching' md-mode='indeterminate')           
        
md-content.md-padding(ng-show='!fetching && groups')           
  table(layout="column" layout-align="center" ng-show='groups.length')
    thead
      tr
        th
        
        th
          md-button Grupo

        th
          md-button Administrador
        
        th
          md-button Última actualización
        
    tbody      
      tr(
        ng-repeat='group in groups',
        ng-init='href = ("/groups/{0}/profile" | format : group._id)')
        
        td
          md-button.md-fab.md-primary.md-hue-3(ng-href='{{ href }}' aria-label="grupo")
          
        
        td
          md-button(ng-href='{{ href }}' aria-label="grupo") {{ group.profile.name }}

        td
          md-button(ng-href='{{ href }}' aria-label="grupo") {{ group.admin.profile.name || group.admin.email }}
            
        td
          md-button(ng-href='{{ href }}' aria-label="grupo") {{ group.updated | toLocal }}
  
  div(ng-show='!groups.length')
    md-icon(md-font-icon='material-icons') panorama_fish_eye
    | No hay grupos
