md-toolbar
  .md-padding.lightBlue
    h1 EMEETER

      
md-content
  div(layout='column' layout-align="center start")
    
    h3 Grupos
    
    a.md-button(ng-href='/')
      md-icon(md-font-icon='material-icons') chevron_left
      | Volver     
  
    a.md-button(ng-href='/groups/create')
      span
        md-icon(md-font-icon='material-icons') group_add
        | Crear grupo
      
  md-icon(md-font-icon='material-icons' ng-show='fetching') sync
  | Buscando grupos
      
  div(ng-show='!fetching && groups && !groups.length')
    md-icon(md-font-icon='material-icons') circle
    | No hay Grupos    
          
  table(layout="column" layout-align="center" ng-show='!fetching && groups && groups.length')
    thead
      tr
        th
          md-button
            md-icon(md-font-icon='material-icons') person
            | Nombre

        th
          md-button
            md-icon(md-font-icon='material-icons') group
            | Cantidad de Miembros

        th
          md-button
            md-icon(md-font-icon='material-icons') supervisor_account
            | Administrador


    tbody
      tr(
        ng-repeat='group in groups',
        ng-init='href = ("/groups/{0}/profile" | format : group._id)')

        td
          md-button(ng-href='{{ href }}') {{ group.profile.name }}

        td
          md-button(ng-href='{{ href }}') {{ group.members.length }}

        td
          md-button(ng-href='{{ href }}') {{ group.admin.profile.name || group.admin.email }}
