md-toolbar.md-padding.lightBlue(layout='row' layout-align='start end')
  md-button(ng-href='/')
    h2 GRUPOS
    
md-button.md-fab.md-warn(ng-href='/groups/create')
  md-icon(md-font-icon='material-icons') add
        
md-content
  div(layout='column' layout-align="center start")
  
  div(ng-show='fetching && !group')   
    md-icon(md-font-icon='material-icons' ) sync
    | Buscando grupos
      
  div(ng-show='!fetching && groups && !groups.length')
    md-icon(md-font-icon='material-icons') circle
    | No hay Grupos    
          
  table(layout="column" layout-align="center" ng-show='!fetching && groups && groups.length')
    thead
      tr
        th
          md-button Grupo

        th
          md-button Administrador
        
        th
          md-button Última actualización
        
    tbody      
      tr(
        ng-repeat='group in groups',
        ng-init='href = ("/groups/{0}/profile" | format : group._id)')
        
        td 
          md-button.md-fab(ng-disabled="true")
        
        td
          md-button(ng-href='{{ href }}') {{ group.profile.name }}

        td
          md-button(ng-href='{{ href }}') {{ group.admin.profile.name || group.admin.email }}
            
        td
          md-button(ng-href='{{ href }}') {{ group.updated | toLocal }}

        
