md-toolbar.md-padding.lightBlue(layout='row' layout-align='start end')
  div
    h2 GRUPOS
    
    div  
      creator
        
md-progress-circular(ng-show='fetching' md-mode='indeterminate')           
        
md-content(layout='column' layout-align="center start" ng-show='!fetching && groups') 
  md-icon(md-font-icon='material-icons' ng-show='!groups.length') circle
    | No hay Grupos    
          
  table(layout="column" layout-align="center")
    thead
      tr
        th
          md-button Grupo

        th
          md-button Administrador
        
        th
          md-button Última actualización
        
    tbody      
      tr(
        ng-repeat='group in groups',
        ng-init='href = ("/groups/{0}/profile" | format : group._id)')
        
        td 
          md-button.md-fab(ng-href='{{ href }}' aria-label="grupo")
        
        td
          md-button(ng-href='{{ href }}' aria-label="grupo") {{ group.profile.name }}

        td
          md-button(ng-href='{{ href }}' aria-label="grupo") {{ group.admin.profile.name || group.admin.email }}
            
        td
          md-button(ng-href='{{ href }}' aria-label="grupo") {{ group.updated | toLocal }}

        
