md-button(ng-href='/groups/{{ group }}/members')
  md-icon(md-font-icon='material-icons') group
  | Miembros
  
md-button(ng-href='/groups/{{ group }}/entries/document')
  md-icon(md-font-icon='material-icons') developer_board
  | .Doc  
  
md-button(ng-href='/groups/{{ group }}/entries/note')
  md-icon(md-font-icon='material-icons') speaker_notes
  | Notas
    
md-button(ng-href='/groups/{{ group }}/tasks')
  md-icon(md-font-icon='material-icons') more
  | Tareas  

md-button(ng-href='/groups/{{ group }}/entries/image')
  md-icon(md-font-icon='material-icons') image
  | Imagen
  
md-button(ng-href='/groups/{{ group }}/entries/audio')
  md-icon(md-font-icon='material-icons') mic
  | Audio 
