md-toolbar.md-padding.lightBlue(layout='row' layout-align='start end')
  div
    h2 {{ session.group.profile.name }} : MIEMBROS

md-content
  div(layout='row')
    md-button.md-fab.md-warn(ng-href='/groups/{{session.group._id}}/profile')
      md-icon(md-font-icon='material-icons') chevron_left
       
    md-button.md-fab.md-warn(ng-href='/groups/{{session.group._id}}/members/add' ng-show='admin')
      md-icon(md-font-icon='material-icons') add
      
  div(ng-show='fetching && !members')        
    md-icon(md-font-icon='material-icons') sync
    | Buscando grupos
      
  div(ng-show='!fetching && members')
    h3 Miembros del grupo 
  
    md-button.md-raised(ng-repeat='member in members' ng-click='addOrRemove(member.user._id)')
      h4 {{ member.user.profile.name || member.user.email }}  
          
    md-button(ng-show='admin && membersToRemove.length' ng-click='removeMembers()')
      md-icon(md-font-icon='material-icons') remove_circle
      | Eliminar miembros
