md-toolbar.md-padding.lightBlue(layout='row' layout-align='start end')
  div
    h2 {{ session.group.profile.name }}
    
    div(layout='row')
      creator
        
      group-items(ng-show='group' group)
        
md-progress-circular(ng-show='fetching' md-mode='indeterminate')        
      
md-content.md-padding(ng-show='!fetching && members')
  h3 Miembros del grupo 
  
  md-button(ng-href='/groups/{{ group }}/members/add') Agregar
  
  div(layout='row')
    md-button.md-raised(ng-repeat='member in members' ng-click='addOrRemove(member.user._id)')
      h4 {{ member.user.profile.name || member.user.email }}  
        
  md-button(ng-show='admin && membersToRemove.length' ng-click='removeMembers()')
    md-icon(md-font-icon='material-icons') remove_circle
    | Eliminar miembros
