md-toolbar
  .md-padding.lightBlue
    h1 EMEETER

md-content
  div(layout='column' layout-align="center start")    
    h3 Grupos
    
    a.md-button(ng-href='/groups/{{session.group._id}}/profile')
      md-icon(md-font-icon='material-icons') chevron_left
      | Volver

    div(ng-show='fetchingMembers && !members')        
      md-icon(md-font-icon='material-icons') sync
      | Buscando grupos
      
  div(ng-show='!fetchingMembers && members')
    h3 Miembros del grupo 
  
    md-button.md-raised(ng-repeat='member in members' ng-click='addOrRemove(member.user._id)')
      h4 {{ member.user.profile.name || member.user.email }}  
          
    md-button(ng-show='admin && membersToRemove.length' ng-click='removeMembers()')
      md-icon(md-font-icon='material-icons') remove_circle
      | Eliminar miembros
