md-toolbar.md-padding.lightBlue(layout='row' layout-align='start end')
  div
    h2 {{ session.group.profile.name }}   
    
    div(layout='row' )
      md-button.md-fab.md-warn(ng-href='/groups/{{session.group._id}}/profile')
        md-icon(md-font-icon='material-icons') chevron_left
        
      group-items
        
md-content.md-padding(ng-show='!fetching && entry')
  md-input-container
    input(readonly aria-label='entry-title') 
    | {{ entry.title && entry.title || "Sin título" }}
  
  md-input-container
    input(readonly aria-label='entry-user') 
    | {{ entry.user.email }}
    
  md-input-container
    input(readonly aria-label='entry-group') 
    | {{ entry.group.profile && entry.group.profile.name }}
        
  div(ng-if='entry.type == "image"')
    div(ng-repeat='pic in entry.pictures')
      img(ng-src='{{"api/files/" + pic._id }}' alt='{{pic.filename}}' style='max-height: 400px; max-width:400px;')
      
  div(ng-if='entry.type == "document"')
    div(ng-repeat='doc in entry.documents')
      iframe(ng-src='{{"api/files/" + doc._id }}' alt='{{doc.filename}}' style='max-height: 800px; max-width:600px;')
  
  div(ng-if='entry.type == "audio"')
    div(ng-repeat='audio in entry.audios')
      audio(ng-src='{{"api/files/" + audio._id }}' alt='{{audio.filename}}')
  
  div(ng-if='entry.type == "note"')
    p {{ entry.content }}
