- var suffix = development ? '' : '.min';

//- Include the Socket.IO client library
script(src='/socket.io/socket.io.js')

//- Include other libraries
script(src='/assets/components/moment/min/moment-with-locales#{ suffix }.js')

//- Include Angular and it's dependencies
script(src='/assets/components/angular/angular#{ suffix }.js')
script(src='/assets/components/angular-route/angular-route#{ suffix }.js')
script(src='/assets/components/angular-i18n/angular-locale_es-cl.js')
script(src='/assets/components/ng-file-upload/angular-file-upload#{ suffix }.js')

//- Angular application main script
script(src='/assets/scripts/client.min.js')
