ellipse {
  fill: #fff;
}
/*
path {
  fill: none;
  stroke: #fff;
  stroke-linecap: round;
}
*/
.mid {
  stroke-width: 4px;
}

.tail {
  stroke-width: 2px;
}

.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}
