/* Fix material icons alignment */
md-icon.material-icons {
  line-height: 0.75em!important;
}

.sidebar {
 z-index: 99;
}
.gray {
  background: #f5f5f5;
}
.green {
  background: #8AC249;
}
.yellow {
  background: #FFC006;
}
.blue {
  background: #3E50B4;
}
.lightBlue {
  background: #00BBD3;
}
.deepBlue {
  background: #448aff;
}
.purple {
  background: #9B26AF;
}
.lightPurple {
  background: #8c9eff;
}
.red {
  background: #F34235;
}
.pink {
  background: #ff80ab;
}
