extends layout

block content 
  h1= title
  
  a(href='/users/create') home
  
  form(method="post" action="/users")
        input(
          type='text'
          name='email'
          placeholder='email'
          required
        )
        br
        input(type="submit", value="sign up")
        
 