extends layout

block content 
  h1= title
  
  a(href='/') home
  
  form(method="post" action="/users")
        input(
          type='text'
          name='username'
          placeholder='username'
          required
        )
        br
        input(type="submit", value="sign up")
        
 