md-toolbar.md-padding.lightBlue(layout='row' layout-align='start end')
  div
    h2 TAREAS
    
    md-button(ng-href='/tasks/collaborator')  Mis Tareas
      
    md-button(ng-href='/tasks/own')  Tareas Creadas
    
md-button.md-fab.md-warn(ng-href='/tasks/collaborator')
  md-icon(md-font-icon='material-icons') chevron_left
      
md-content(layout='column')      
  div(ng-show='fetching && !tasks')   
    md-icon(md-font-icon='material-icons' ) sync
    | Recopilando Informaciòn
      
  div(ng-show='!fetching && task')
    md-button(
      ng-show='task.completed',
      ng-click='reOpen()')
      | Abrir
      
    md-button(
      ng-show='!task.completed',
      ng-click='close()')
      | Cerrar    
        
    div
      h4 {{ task.completed && "Completada" || "Abierta"}}
      h3 {{ task.objective }}
      p  Fecha de entrega : {{ (task.dateTime && (task.dateTime | toLocal)) || "No definida" }}
    
    div(ng-show='!task.collaborators.length')
      p No hay collaboradores asignados
    
    div(ng-show='task.collaborators.length')
      p Collaboradores:  
    
    div(ng-repeat='collaborator in task.collaborators')
      p {{ collaborator.user.email }}
      
    div(ng-show='!task.notes.length')
      p No hay notas
    
    div(ng-show='task.notes.length')
      p Notas:
    
    div
      div(ng-repeat='note in task.notes', ng-show='task.notes.length')
        p {{ note.note }}
              
      
  
