md-toolbar.md-padding.lightBlue(layout='row' layout-align='start end')
  md-button(ng-href='/')
    h2 TAREAS

md-button.md-fab.md-warn(ng-href='/tasks/create')
  md-icon(md-font-icon='material-icons') add
      
md-content 
  div(layout='column' layout-align="center start")
   
  div(ng-show='fetching && !tasks')   
    md-icon(md-font-icon='material-icons' ) sync
    | Buscando tareas
      
  div(ng-show='!fetching && tasks && !tasks.length')
    md-icon(md-font-icon='material-icons') circle
    | No hay tareas    
    
  table(ng-show='!fetching && tasks && tasks.length')
      thead
        tr
          th
            md-button Ojectivo

          th
            md-button Prioridad
            
          th
            md-button Grupo

          th
            md-button Fecha de Creación

          th
            md-button Fecha de Entrega
              
          th
            md-button Colaboradores    
          
      tbody
        tr(
          ng-repeat='task in tasks',
          ng-init='href = ("/tasks/{0}/detail" | format : task._id)')

          td
            md-button(ng-href='{{ href }}') {{ task.objective }}

          td
            md-button(ng-href='{{ href }}') {{ task.priority.name }}
            
          td
            md-button(ng-href='{{ href }}') {{ task.group.profile.name }}  
            
          td
            md-button(ng-href='{{ href }}') {{ task.created | toLocal }}

          td
            md-button(ng-href='{{ href }}') {{ task.dateTime  || "No definida" }}
              
          td
            md-button(ng-href='{{ href }}') {{ task.collaborators.length }}
