div.panel.panel-default
  div.panel-heading
    h3.panel-title
      i.fa.fa-mr.fa-tasks
      | Tareas del grupo
      
  div.panel-body
    a.btn.btn-block.btn-lg.btn-default(ng-href='/groups/{{session.group._id}}/tasks')
      i.fa.fa-mr.fa-users
      | Volver a las tareas del grupo
          
  div.panel-body.text-center(ng-show='fetchingTask && !task')
    h4
      i.fa.fa-mr.fa-circle-o-notch.fa-spin
      | Recopilando Información
      
  div.panel-body.text-center(ng-show='!fetchingTask && task')
    div.row
        button.btn.btn-default.btn-lg(
          ng-show='task.completed',
          ng-click='reOpen()')
          | Abrir
          
        button.btn.btn-default.btn-lg(
          ng-show='!task.completed',
          ng-click='close()')
          | Cerrar    
        
    div.row
      h4 {{ task.completed && "Completada" || "Abierta"}}
      h3 {{ task.objective }}
    
    div.row(ng-show='!task.collaborators.length')
      p No hay collaboradores asignados
    
    div.row(ng-show='task.collaborators.length')
      p Collaboradores:  
    
    div.row(ng-repeat='collaborator in task.collaborators')
      p {{ collaborator.user.email }}
      
    div.row(ng-show='!task.notes.length')
      p No hay notas
    
    div.row(ng-show='task.notes.length')
      p Notas:
    
    div.row
      div.col-sm-4(ng-repeat='note in task.notes', ng-show='task.notes.length')
        p {{ note.note }}
              
      
  
