md-toolbar.md-padding.lightBlue(layout='row' layout-align='start end')
  md-button(ng-href='/')
    h2 {{ session.group.profile.name }} : TAREAS

md-content
  div(layout='row')
    md-button.md-fab.md-warn(ng-href='/groups/{{session.group._id}}/profile')
      md-icon(md-font-icon='material-icons') chevron_left
       
    md-button.md-fab.md-warn(ng-href='/groups/{{session.group._id}}/tasks/create')
      md-icon(md-font-icon='material-icons') add
      
  div(ng-show='fetchingTasks && !tasks')
    md-icon(md-font-icon='material-icons') sync
    | Buscando Tareas
      
  div(ng-show='!fetchingTasks && tasks && !tasks.length')
    h4 No hay Tareas               

  table(layout="column" layout-align="center" ng-show='!fetchingTasks && tasks && tasks.length')
    thead
      tr
        th
          md-button
            md-icon(md-font-icon='material-icons') group
            | Ojectivo

        th
          md-button
            md-icon(md-font-icon='material-icons') group
            | Prioridad

        th
          md-button
            md-icon(md-font-icon='material-icons') group
            | Fecha de Creación

        th
          md-button
            md-icon(md-font-icon='material-icons') group
            | Fecha de Entrega
            
        th
          md-button
            md-icon(md-font-icon='material-icons') group
            | Colaboradores    
        
    tbody
      tr(
        ng-repeat='task in tasks'
        ng-init='href = ("/groups/" + session.group._id + "/tasks/{0}/detail" | format : task._id)')

        td
          md-button(ng-href='{{ href }}') {{ task.objective }}

        td
          md-button(ng-href='{{ href }}') {{ task.priority.name }}

        td
          md-button(ng-href='{{ href }}') {{ task.created }}

        td
          md-button(ng-href='{{ href }}') {{ task.dateTime  || "No definida" }}
            
        td
          md-button(ng-href='{{ href }}') {{ task.collaborators.length }}
