.panel.panel-default
  .panel-heading
    h3.panel-title
      | Bienvenido
  
  a.btn.btn-block.btn-lg.btn-default(ng-href='/groups')
    i.fa.fa-mr.fa-users
    | Grupos
    
  a.btn.btn-block.btn-lg.btn-default(ng-href='/contacts')
    i.fa.fa-mr.fa-user-plus
    | Contactos
    
  a.btn.btn-block.btn-lg.btn-default(ng-href='/tasks')
    i.fa.fa-mr.fa-tasks
    | Tareas
    
  a.btn.btn-block.btn-lg.btn-default(ng-href='/entries')
    i.fa.fa-mr.fa-th-large
    | Entradas
