span(layout='column', layout-align='center center')
  md-grid-tile-header
    md-button.md-icon-button(aria-label='emcard-detail' ng-click="showDetails();", ng-href='{{ card.href }}')
      md-icon(md-font-icon='material-icons' ng-if='card._id') launch
      md-tooltip {{ (card._id && "Ver detalle") }} 
    
  div.action(layout='column', layout-align='center center', ng-click='card.action()', class="{{ card.completed && 'completed' }}")
    md-icon.icon48(md-font-icon='material-icons', style="color: {{ card.color }};") {{ card.completed && 'check' || card.icon }}
    h4(style='text-align: center;')
      span(style='text-transform: uppercase;')
        | {{ card.span }}
      br
      span(style='font-size: small;')
        | {{ card.relevantDate && (card.relevantDate | fromNow) || 'Sin Fecha de Entrega'}}

  div(layout="row")
    md-button.md-icon-button(ng-if='!card._id', aria-label='emcard-detail', ng-href='{{ card.href }}')
      md-icon(md-font-icon='material-icons') add
      md-tooltip Crear
      
    md-button.md-icon-button(ng-if="card.type == 'task' || card.type == 'meeting'", aria-label='emcard-detail')
      md-icon(md-font-icon='material-icons' ng-if='card._id && !card.completed') play_circle_outline
      md-tooltip {{ (card._id && "Iniciar un sprint")}}    
    
md-grid-tile-footer.nobg(layout-padding, layout-align='center center')  
  p {{ card.footer }}
  
