md-menu
  md-button(ng-click='$mdOpenMenu()') {{ notifications.length && ( notifications.length > 1 && "Tienes " + notifications.length + " nuevas notificaciones" || "Tienes una nueva notificación" ) || "No tienes notificaciones"}}
  
  md-menu-content(width='4')
    md-menu-item(ng-repeat='not in notifications' ng-init='message=notMessage(not.interaction.sender.email, not.interaction.action.slug)')
      md-button {{ message }}
      
