md-toolbar.lightBlue
  h1.md-toolbar-tools
  
  md-button(ng-show='!session.user' ng-click='$navigateTo("/")')
    md-icon.icon48(md-font-icon='material-icons') account_circle
    br
    br
    
  md-list
    md-list-item(ng-click='$navigateTo("/")')
      img.profilePicture(ng-if='session.user'
       ng-src='{{"api/files/" + session.user.profile.pictures[0] }}'
        alt='{{pic.filename}}'
        class='md-avatar')
        
    md-list-item
      md-button(ng-show='session.user' ng-click='$navigateTo("/users/" + session.user._id + "/profile")') 
        | {{ session.user.email }}
        md-icon(md-font-icon='material-icons') arrow_drop_down
  
  
md-list(layout-padding)
  md-list-item(ng-click='$navigateTo("/users/signin")', ng-show='!session.user')
    md-icon(md-font-icon='material-icons') person
    p Iniciar sesión

  md-list-item(ng-click='$navigateTo("/users/signup")', ng-show='!session.user')
    md-icon(md-font-icon='material-icons') person_add
    p Crear cuenta
    
  md-list-item(ng-click='$navigateTo("/groups")', ng-show='session.user')
    md-icon(md-font-icon='material-icons') people
    p Grupos
    
  md-list-item(ng-click='$navigateTo("/meetings/attendant")', ng-show='session.user')
    md-icon(md-font-icon='material-icons') event_note
    p Reuniones  

  md-list-item(ng-click='$navigateTo("/tasks/collaborator")', ng-show='session.user')
    md-icon(md-font-icon='material-icons') more
    p Tareas  
    
  md-list-item(ng-click='$navigateTo("/analitycs")', ng-show='session.user')
    md-icon(md-font-icon='material-icons') trending_up
    p Estadísticas 

  md-list-item(ng-click='$navigateTo("/settings")', ng-show='session.user')
    md-icon(md-font-icon='material-icons') settings
    p Configuración
