md-toolbar
  .md-padding
    h1 Welcome!
    p An so vulgar to on points wanted. Not rapturous resolving continued household northward gay. He it otherwise supported instantly.

md-content(layout-padding)
  md-card
    md-card-content
      h2.md-title Frankness applauded by supported ye household
    
  md-card
    md-card-content
      h2 Uneasy barton seeing remark happen his has
    
