div.jumbotron
  h2 Welcome to emeeter!

div.row
  div.col-sm-6
    div.panel.panel-default
      div.panel-body.text-center
        p.lead Have an account?
        a.btn.btn-lg.btn-primary(ng-href='/users/signin')
          i.fa.fa-sign-in
          |  Sign In

  div.col-sm-6
    div.panel.panel-default
      div.panel-body.text-center
        p.lead Need an account?
        a.btn.btn-lg.btn-primary(ng-href='/users/signup')
          i.fa.fa-pencil
          |  Sign Up
