md-toolbar.md-padding.lightBlue(layout='row' layout-align='start end')
  div
    h2 {{ session.group.profile.name }}   
    
    div(layout='row' )
      creator
        
      group-items(ng-show='group' group)

md-progress-circular(ng-show='fetching' md-mode='indeterminate')
  
md-content.md-padding(ng-show='!fetching && entry')
  md-input-container
    input(readonly aria-label='entry-title') 
    | Titulo : {{ entry.title && entry.title || "Sin título" }}
  
  md-input-container
    input(readonly aria-label='entry-group') 
    | Grupo:  {{ entry.group.profile && entry.group.profile.name }}
        
  div(ng-if='entry.type == "image"')
    div(ng-repeat='pic in entry.pictures')
      img(ng-src='{{"api/files/" + pic._id }}' alt='{{pic.filename}}' style='max-height: 400px; max-width:400px;')
      
  div(ng-if='entry.type == "document"')
    div(ng-repeat='doc in entry.documents')
      iframe(ng-src='{{"api/files/" + doc._id }}' alt='{{doc.filename}}' height='1000px' width='1000px')
  
  div(ng-if='entry.type == "audio"')
    div(ng-repeat='audio in entry.audios')
      audio(ng-src='{{"api/files/" + audio._id }}' alt='{{audio.filename}}' controls)
        p Tu navegador no soporta el elemento audio.
      
  div(ng-if='entry.type == "note"')
    p {{ entry.content }}
    
  div
    h5 Tags  
    md-chips(
      ng-model='entry.tags'
      readonly='true')
      md-chip-template {{ $chip }}  
  
