md-toolbar
  .md-padding.lightBlue
    h1 EMEETER
    
div.panel.panel-default
  div.panel-heading
    h3.panel-title
      i.fa.fa-mr.fa-th-large
      | Entradas
      
  div.panel-body
    a.btn.btn-block.btn-lg.btn-default(ng-href='/profile')
      i.fa.fa-mr.fa-user
      | Volver
      
  div.panel-body
    a.btn.btn-block.btn-lg.btn-default(ng-href='/entries/create')
      i.fa.fa-mr.fa-plus
      | Crear Entrada      
          
  div.panel-body.text-center(ng-show='fetching && !entries')
    h4
      i.fa.fa-mr.fa-circle-o-notch.fa-spin
      | Buscando entradas
      
  div.panel-body.text-center(ng-show='!fetching && !entries.length')
    h4
      i.fa.fa-mr.fa-th-large
      | No hay Entradas     
      
  div.panel-body.text-center(ng-show='!fetching && entries.length')
    h4
      i.fa.fa-mr.fa-th-large
      | Entradas 

  div.panel-body(ng-show='!fetchingEntries && entries')
    div.row
      div.col-sm-4(ng-repeat='entry in entries', ng-init='href = ("/entries/{0}/detail" | format : entry._id)')
        div.btn.btn-default.btn-block
          a(ng-href='{{ href }}')
            h3 {{ entry.title }}
