div.panel.panel-default
  div.panel-heading
    h3.panel-title
      i.fa.fa-mr.fa-cubes
      | Grupos
      
  div.panel-body
    a.btn.btn-block.btn-lg.btn-default(ng-href='/agreements/create')
      i.fa.fa-mr.fa-users
      | Volver al grupo
          
  div.panel-body.text-center(ng-show='fetchingGroup && !group')
    h4
      i.fa.fa-mr.fa-circle-o-notch.fa-spin
      | Recopilando Información
      
  div.panel-body.text-center(ng-show='fetchingEntries && !entries')
    h4
      i.fa.fa-mr.fa-circle-o-notch.fa-spin
      | Buscando Entradas 

  div.panel-body(ng-show='!fetchingEntries && entries')
    div.row
      div.col-sm-4(ng-repeat='entry in entries', ng-init='href = ("/entries/{0}/detail" | format : entry._id)')
        div.btn.btn-default.btn-block
          a(ng-href='{{ href }}')
            h3 {{ entry.title }}
            p {{ agreement.specialty.name }}
