md-button(ng-href='/entries/create/document')
  md-icon(md-font-icon='material-icons') developer_board
  | Documento  
  
md-button(ng-href='/entries/create/note')
  md-icon(md-font-icon='material-icons') speaker_notes
  | Nota     

md-button(ng-href='/entries/create/image')
  md-icon(md-font-icon='material-icons') image
  | Imagen
  
md-button(ng-href='/entries/create/audio')
  md-icon(md-font-icon='material-icons') mic
  | Audio 
